:root{
  --body-bg:#E5E5E5;
  --bisque:#F3D7B7;
  --antiquewhite:#F8F8F2;
  --brown:#C99B67;
  --brown-80:hsl(32, 48%, 60%, 0.8);
  --brown-60:hsl(32, 48%, 60%, 0.6);
  --green:#0A775F;
  --green-80:rgba(10, 119, 95, 0.8);
  --green-60:rgba(10, 119, 95, 0.6);


  --text-color:#333;

}

html{
  box-sizing:border-box;
  height: 100%;
  scroll-behavior: smooth;
}


*,
*::before,
*::after{
  box-sizing:inherit;
}


body{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family:"roboto","arial", serif;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--body-bg);
  color: var(--text-color);

}

.main-content{
  flex-grow: 1;
  padding: 20px;
}


img{
  max-width: 100%;
  height: auto;

}

*:focus{
  outline: 3px dotted var(--green);
  outline-offset: 3px;
}

.container{
  width: 100%;
  max-width: 1480px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  padding: 16px 24px;
  border: 0;
  border-radius: 100px;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: nowrap;
}
.button-green{

  background-color: var(--green);
  color: #fff;
}


.button-green:hover{
  background-color: var(--green-80);
}

.button-green:active{
  background-color: var(--green-60);
}

.button-brown{
margin-left: 604px;
margin-right: 603px;
margin-bottom: 50px;
  color: #fff;
  text-align: center;
  background-color: var(--brown);

}

.button-brown:hover{
/* background-color: var(--brown-80); */
background-color: var(--antiquewhite);
color: #000;
}

.button-brown:active{
 opacity: 0.6;
}

/* MAIN-CONTENT */
.heder-hero-wrapper{
  background-color: var(--bisque);
  background-image: url(../img/header-bg.jpg);

}

.site-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 40px;
}


/* site header */


.site-header-logo {

}
.site-logo-link {
  flex-shrink: 0;
}

.site-logo-link:hover{
  opacity: 0.8;
}

.site-logo-link:active{
  opacity: 0.6;
}

.site-logo-img {
  width: 203px;
  height: 24px;

}
.site-nav {
}
.site-nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.site-nav-item {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;


}



.site-nav-item:not(:last-child){
  padding-right: 40px;
}

.site-nav-link{
  text-decoration: none;
  color: #333333;
  white-space: nowrap;
}

.site-nav-link:hover{
  color: #000;
}

.site-nav-link:active{
  opacity: 0.6;
}


.site-footerlinks-wrapper .site-nav-item{
  font-size: 16px;
  line-height: normal;
}

/* HERO */
.site-hero{
  display: flex;
  justify-content: space-between;
  /* width: 1440px; */
  padding-left: 0;
  padding-right: 0;

  /* background-color: var(--bisque); */
}
.hero-wrapper{
  width: 464px;
  padding-left: 150px;
  color: #000;

}
.hero-heading {
  width: 447px;
  font-size: 64px;
  line-height: 75px;
  font-weight: bold;
  margin: 0;
  margin-top: 156px;
  margin-bottom: 24px;
}
.hero-text {
  font-size: 16px;
  font-weight:  normal ;
  margin: 0;
  margin-bottom: 34px;
}



.hero-img {
  width: 710px;
  height: 696px;
  margin-top: 45px;

}

/* main-content */

.index-collection{
  margin-bottom: 20px;
}
.index-collection-inner {
  padding: 50px 143px;

  background-color: #F8F8F2;
  background-image: url(../img/index-collection-bg.jpg);
}
.container {
}
.index-collection-heading {
  display: flex;
  justify-content: center;
  align-items: center;
   font-size: 50px;
  line-height: 59px;
  font-weight: bold;
  text-transform: uppercase;
color: #000;
margin: 0;
margin-bottom: 80px;

}
.index-collection-list {
padding: 0;
margin: 0;
list-style: none;
}
.index-collection-item {
  display: flex;
  align-items: center;
}

.index-collection-item:nth-child(even){
  flex-direction: row-reverse;
}



.indec-collection-img {
  flex-shrink: 0;
  width: 450px;
height: 375px;
object-fit: cover;

}


.index-collectoin-info {
 flex-grow: 1;
 padding-left: 117px;
 padding-right: 117px;

}
.idex-collection-title {
  font-weight: 500;
font-size: 48px;
line-height: 56px;
margin: 0;
margin-bottom: 10px;
}
.index-collection-text {
  font-weight: normal;
font-size: 22px;
line-height: 34px;
margin: 0;
}

.index-collection-text:not(:last-child){
  margin-bottom: 10px;
}

/* .index-collection-item:nth-child(odd) .index-collectoin-info{
  padding-left: 117px;
}

.index-collection-item:nth-child(even) .index-collectoin-info{
  padding-right: 117px;
} */


/* index-features */
.index-features {
  margin-bottom: 30px;
}
.container {
}
.index-features-inner {
 padding: 50px 30px;

  /* background-color: var(--brown); */
background-image: url(../img/index-features-bg.jpg);
background-size: 100% 700px;
background-repeat: no-repeat;
}
.index-features-inner-heading {
  font-size: 50px;
  line-height: normal;
  font-weight: bold;
  margin-top: 0;
margin-bottom: 10px;
text-transform: uppercase;
text-align: center;
color: #fff;
}
.index-collection-inner-text {
  width: 581px;
  font-size: 16px;
  line-height: 28px;
  font-weight: normal;
text-align: center;
margin-left: auto;
margin-right: auto;
color: #fff;

}

.index-features-list {
  display: flex;
  flex-wrap: wrap;
padding: 0;
margin: 0;
margin-left: -20px;
list-style: none;
}
.index-features-item {
  /* width: calc(100% / 3- 15px); */
  margin-left: 30px;
  margin-bottom: 30px;
}
.index-features-item-img{
  width: 433px;
  height: 500px;
  margin-bottom: 20px;
  object-fit: cover;

}
.index-features-item-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: normal;
  font-weight: 500;
  text-transform: uppercase;
}
.index-features-item-text {
  width: 377px;
  line-height: 24px;
  margin: 0;
}


/* how it works */
.how-it-works {
  margin-bottom: 50px;
}

.how-it-works-inner {
  background-image: url(../img/how-it-horks.bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.How-it-works-heading {
  margin: 0;
  margin-bottom: 80px;
  padding-top: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.how-it-works-list {
  display: flex;
margin: 30px;
  margin-bottom: 60px;
counter-reset: how-it-works;
}

.how-it-works-item {
  display: flex;
  flex-direction: column;
  list-style: none;

  margin-bottom: 30px;
  counter-increment:how-it-works ;
}

.how-it-works-item::before{
width: 60px;
height: 60px;
background-color: var(--antiquewhite);
border-color: var(--brown);
margin-bottom: 20px;
content:" ";

}


.how-it-works-item:not(:last-child){
margin-right: 40px;
}
.how-it-works-info {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding-top: 20px;
padding-left: 20px;
padding-right: 28px;
padding-bottom: 40px;

}

.how-it-works-info::before{

  align-self: flex-end;
  margin-bottom: 45px;
  font-size: 64px;
  line-height: normal;
  content:"0"counter(how-it-works)

}
.how-it-works-step-title {
  max-width: 250;
  margin: 0;
margin-bottom: 10px;
  font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
text-transform: uppercase;
}
.how-it-works-text {

  width: 385px;
  font-style: normal;
font-weight: normal;
margin: 0;
font-size: 18px;
line-height: 28px;
}

/* footer */
.site-footer{

}
.footer-section {
  background-image: url(../img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 70px;
}
.site-logo-link {

}
.site-logo-img {
}
.footernav {
  display: flex;

}




.social-network-list {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;


}
.social-network-item {
  list-style: none;
}

.social-network-item:not(:last-child){
margin-right: 30px;

}

.social-network-item:hover{
  background-color: var(--green-80);
}

.social-network-item:active{
  opacity: 0.6;
}

.social-network-img{
  display: block;
  width: 30px;
  height: 30px;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
.heder-hero-wrapper{
  background-image: url(../img/header-bg@2x.jpg);

}
.index-collextion-inner {

  border-corner-image: url(../img/index-collection-bg.jpg);
}

.index-features-inner {
 background-image: url(../img/index-features-bg@2x.jpg);
}

.how-it-works-inner {
  background-image: url(../img/how-it-horks.bg.jpg);}



}
